{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    {% for project in projects%}
        <div class="card" style="width: 18rem;">
            {% if project.foto %}
                    <img src="{{ project.foto.url }}" class="card-img-top" alt="{{ project.title }}">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title"> {{ project.title }} </h5>
            <p class="card-text"> {{ project.description }} </p>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'create-project' %}" class="btn btn-primary">Create new Project</a>
{% endblock %}