{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Atenção!</h4>
        <p>Você tem certeza que deseja excluir o personagem: <strong> {{ character.name}} </strong>?</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, excluir</button>
            <a href="{% url 'list-character' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}